html {
    scroll-padding-top: 85px;
}

/* nav */
nav h1 {
    color: tomato;
}

.navbar-nav a {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    border-radius: 10px;
    transition: all .3s ease;
}

.navbar-nav a:hover {
    background-color: lightsalmon;
    color: #fff;
}

h2 {
    text-align: center;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 8px;
}

section {
    height: 600px;
}

input {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 0 10px;
    outline: none;
    border-radius: 8px;
    transition: all .3s ease;
}

input:focus {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2)
}

#BMI {
    margin-top: 80px;
}

.christmasTree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberGame {
    display: flex;
    justify-content: space-between;
}

#timer,
#ansewr {
    font-size: 80px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid green;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    padding: 5px;
    background-color: lavenderblush;
    border-left: 2px solid green;
    border-right: 2px solid green;

}